wheel
setuptools
streamlit
PyMuPDF
langchain-community==0.2.0
pandas==2.0.0
python-docx==0.8.11
pytesseract
pillow==9.5.0
python-pptx==0.6.21
openai==1.44.1
openpyxl==3.1.5
alembic==1.13.3
psycopg2-binary==2.9.10
user-agents==2.2.0
xlrd==2.0.1
